@{
    ViewData["Title"] = "Typescript サンプル(Core)";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<p>Script/app.tsは、 [NuGet パッケージの管理]  [Microsoft.TypeScript.MSBuild]でビルドされます。</p>
<p>View/Shared/_Layout.cshtmlで、scriptタグで読み込みます。</p></br></br>
<div id="ts-example">
    <br />
    <button type="button" class="btn btn-primary btn-md" onclick="TSButton()">
        Click したら、"wwwroot/js/app.js"表示されるよ！
    </button>
</div>